<h1>Create an account</h1>

<form action="/users" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="text" name="name" placeholder="Your name (optional)">
  <input type="text" name="email" placeholder="Your email">
  <input type="text" name="bio" placeholder="Tell us about yourself.">
  <button>Sign up!</button>
</form>