<h1>You're Not Alone.</h1>
<p>Search for stories by zip code or subject.</p>
<form action="/posts/search" method="get">
  <input type="text" name="zipcode" placeholder="Zip code">
  <input type="text" name="tag" placeholder="Tag">
</form>