<div class="post">
  <p><%= truncate(post.text, length:200) %></p>
  <p class="see-more"><%= link_to "See more...", "/posts/#{post.id}" %></p>
  <% post.tags.each do |tag| %>
    <%= "#{tag.tag} " %>
  <% end %>
</div>