<div class="left">
  <h1 class="yna-heading">
    You're <br />Not <br />Alone.
  </h1>
</div>

<div class="right">
  <%= gmaps4rails(@json) %>

  <% @posts.each do |post|  %>
    <%= render post %>
  <% end %>
</div>