<% if @posts.any? %>

  <%= gmaps4rails(@json) %>

  <% @posts.each do |post|  %>
    <%= render post %>
  <% end %>

<% else %>

  <p>Your search returned no results.</p>
  <p><%= link_to 'Try again?', '/' %></p>

<% end %>