<h1>About</h1>

<p>Despite America's prevailing obsession with the appearance of being happy, we all go through difficult times in our lives.</p>

<p>YNA hopes to provide consolation and connection by linking personal stories to a physical map of the world. You can post your story and see others respond, or search for stories in your neighborhood and reach out to others.</p>

<p>YNA was built by Alice M. (<a href="http://www.twitter.com/ichthala">@ichthala</a>, alice.vera.abigail@gmail.com) with <a href="http://rubyonrails.org/">Ruby on Rails</a> and <a href="http://twitter.github.io/bootstrap/">Bootstrap</a> in the summer of 2013.</p>